
.principal_type {
    display: grid;
    grid-template-columns: 10rem inherit;
    margin: 10px;
    gap: 10px; 
}
.tabla-relacion{
    border:2px solid #ccc;
    grid-column: 2;
    display: grid;
    grid-template-columns: 10rem auto;
    grid-template-rows: 4;
    gap: 10px;
}
.title-tabla {
    text-align: center;
    align-content: center;
    font-size: 1.5rem;
}
.title--eficaz{
    grid-column: 1;
    grid-row: 1;
    color: rgb(59, 170, 59) ;
}
.title--debil{
    grid-column: 1;
    grid-row: 2;
    color: red ;
}
.title--vulnerable{
    grid-column: 1;
    grid-row: 3;
    color: rgb(2, 149, 207) ;
}
.title--inmune{
    grid-column: 1;
    grid-row: 4;
    color: rgb(154, 151, 151) ;
}
.pokemon-type-background{
    display: inline-flex;
    justify-content: space-around;
    margin: 0.5rem;
    border-radius: 2px;
}
.pokemon-eficaz{
    background-color: rgb(59, 170, 59);
    grid-column-start: 2;
    grid-row: 1;
}
.pokemon-debil{
    background-color: red;
    grid-column-start: 2;
    grid-row: 2;
}
.pokemon-vulnerable{
    background-color: rgb(2, 149, 207);
    grid-column-start: 2;
    grid-row: 3;
}
.pokemon-inmune{
    background-color: rgb(154, 151, 151);
    grid-column-start: 2;
    grid-row: 4;
}